.category {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
     position: absolute;
     top: 65px;
     /* border: 2px solid red; */
  }
  
  header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .add_category_btn {
    background-color: #6a1b9a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .category_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

  }



  
  .category_table th, .category_table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .active {
    color: green;
  }
  
  .inactive {
    color: red;
  }

  .deleteDiv{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    margin-right: 20px;
}

