.wholeCategory{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgba(128, 128, 128, 0.642);
  border-right: 1px solid rgba(128, 128, 128, 0.642);
  border-bottom: 2px solid rgba(128, 128, 128, 0.642);
  border-radius: 0px 0px 5px 5px;
  padding: 0px 5px;
}
.category {
    height: 87%;
    width: 100%;
    padding: 20px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .add_category_btn {
    background-color: #6a1b9a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .category_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }



  
  .category_table th, .category_table td {
    padding: 9px;
    border: 1px solid #ddd;
    text-align: left;
  }
  .active {
    color: green;
  }
  
  .inactive {
    color: red;
  }

  .deleteDiv{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 05px;
    top: 250px;
    display: none;
    margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination span {
  margin: 0 10px;
}
