/* DeleteCategory.css */

.DeleteCategoryPage {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* border: 2px solid red; */
    /* position: absolute;
    right: -570px;
    top: -80px; */
  }
  
  .DeleteCategoryText h2 {
    font-size: 24px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .DeleteCategoryText h2::before {
    content: '⚠️';
    font-size: 32px;
    margin-right: 10px;
  }
  
  .DeleteCategoryText p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }
  
  .DeleteCategoryButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .DeleteCategoryButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .DeleteCategoryButtons .cancelBtn {
    background-color: #eee;
    color: #333;
  }
  
  .DeleteCategoryButtons .DeleteCategoryBtn {
    background-color:  #480a6edf;
    color: #fff;
  }
  