.header {
    height: 60px;
    background-color: #480a6edf;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-profile-icon {
    font-size: 24px;
    cursor: pointer;
}

.logoutDiv{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 9px;
    top: 0px;
    display: none;
    margin-right: 20px;
}